.card {
    color: #fff;
    background: #fc5c7d;
    background: -webkit-linear-gradient(135deg, rgb(252, 92, 125), rgb(106, 130, 251));
    background: linear-gradient(135deg, rgb(252, 92, 125), rgb(106, 130, 251));
    text-align: center;
    transition: all .25s ease;
    max-width: 512px;
}

#days {
    margin: 4px 0;
}

#date {
    opacity: .75;
}