.card.gradient-1 {
    background: #fc5c7d;
    background: -webkit-linear-gradient(135deg, rgb(252, 92, 125), rgb(106, 130, 251));
    background: linear-gradient(135deg, rgb(252, 92, 125), rgb(106, 130, 251));
}